<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf=8">
    <link rel="stylesheet" href="style.css">
    <title>DallyBible</title>
</head>
<body>
    <div class="content">
        <header>
            <!-- titulo header -->
            DallyBible
        </header>
        <!-- cruz -->
	<div class='cross'>
	        <div class="upper"></div>
	        <div class="lower"></div>
	</div>
        <!-- versiculo biblico -->
        <div class='bible_versicle'>
			<label class="msg_biblica" id="msg">Salmos 32 Versiculo 1 e 2: 'BEM-AVENTURADO aquele cuja transgreção é perdoada, e cujo pecado é coberto. Bem-aventurado o homem a quem o Senhor não imputa maldade, e em cujo o espírito não há engano.'</label>
			<label class="msg_biblica" id="contexto"></label>
			<button type="button",  class="contexto_btn">Ver contexto</button>
        </div>
        
    </div>
</body>
</html>
